@charset "utf-8";
	form{
		background-color:#f0f0f5;
		width: 700px;
		border: 15px black;
		margin: 20px;
		font: 13px "Lucida Sans Unicode";
		padding: 20px 12px 10px 20px;
		outline-style: double;
		outline-color: black;
		float:center;
		opacity:0.8;
	}
	