body{
background-image: url('../img/app.jpg');
}
.menubar{
	background:black ;
	text-align:center ;
	overflow: hidden;
	height:70px;
}
.leftmenu{
	width:40% ;
	line-height :40px;
	float : left ;
}

.text{
	color:white ;
	font-size:20px;
	letter-spacing:10px ;
}

.menubar ul{
	display:inline-flex;
	list-style : none;
	color : white ;
	overflow:hidden;
	float:right ;
}

.menubar ul li{
	width:100px ;
	margin:2px ;
	padding:5px ;
	font-family: Impact, Charcoal, sans-serif;
}

.menubar ul li a{
	text-decoration:none;
	color:white;
}

a:hover {
  background-color: #b2beb5;

}

.btnlogin{
	margin:2px;
    color: black;
    background-color: white;
    border:none;
    padding:10px;
    float: right;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnRegister{
	margin:2px;
    color: black;
    background-color: white;
    border:none;
    padding:10px;
    float: right;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer{
	background-color:black;
}
.cont{
	max-width:1170px ;
	width:100%;
	margin:0 auto ;
	display :flex ;
}
.col{
	margin: 0 15px 25px;
	0 1px 2px rgba(0, 0, 0, 0.24) ;
	flex-basis:33%;

}
.cardd{
	padding:15;
	color:white;


}

.cardtxt{
	text-align:center;
}




h1
{
	color:black;
}
div.dotted
{
	height:auto;
	margin: auto;
	width: auto;
	border: 3px solid #73AD21;
	padding: auto;
	background-color:black;
	color: white;
	opacity: 0.9;
}
button
{
	background-color: white;

}

.vl
{
	border-left: 3px solid white;
	height: 250px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 920px;

}
button:hover{
	background-color:gray;
}
{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  margin-left: 85px;
  float: left;
  width: 15%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 80%;
    display: block;
    margin-bottom: 10px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa {font-size:50px;}

hr.a
	{
		border:1px solid black; //accepts 3 elements
	}
