
.reg{
	text-align:center;
	letter-spacing:10px;
}


form{
		background-color:white;
		background-position:center;
		margin-left:auto ;
		margin-right:auto ;
		font: 13px "Lucida Sans Unicode";
		padding: 20px 12px 10px 20px;\
		position:center;
	    width:600px ;
		]
		
